/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* toolbar button */
#sync-button,
#wrapper-sync-button,
#PanelUI-fxa-status,
/* tab context menu */
#sync-tabs-menuitem,
#context_sendTabToDevice,
#context_sendTabToDevice_separator,
/* browser bottom */
#syncLinksContainer,
/* application menu */
#sync-setup-appmenu,
#sync-syncnowitem-appmenu,
#sync-tabs-menuitem2,
/* menu bar */
#sync-setup,
#sync-syncnowitem,
#menu_tabsSidebar,
/* customizable menu */
.subviewbutton[label='同期タブ'],
.subviewbutton[label='Synced Tabs'] {
	display: none !important;
	-moz-user-focus: ignore !important;
}
